@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}
.input {
  width: 100%;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: white;
  outline: none;
}

.input:focus {
  border-color: #22c55e;
}
